body{
    background-color: whitesmoke;
}
.card-container{
    background-color: rgb(188, 188, 216);
    display: flex;
   flex-flow: row wrap;
    justify-content: space-between;
    margin: auto;
    width: 1800px;

}
.card_item{
    background-color: rgb(151, 245, 9);
    border: 10px solid rgb(17, 16, 16);
    margin: 5px;
   min-height: 200px;
   min-width: 100px;
    margin-bottom: 20px;
    flex-basis: 200px;
}
 .card_item-medium{
     flex-basis: 400px;

     flex-grow:2;
 }
 .card_item-bigger{
    flex-basis: 600px;
        flex-grow: 3;
     }